// out: ./styl.css, compress: true, sourceMap: true
@import "normalize", "rem", "color", "mixin", "default";

/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;

* {
    // @include ani(0.3s);
}

html {
    min-width: $min-width;
    max-width: 100%;
    font-size: 14px;
    min-height: 100%;
}

html,
body {


    font-family: "apple sd gothic neo", sans-serif;
    color:$text-color;

    @media (max-width: $screen-size-pc - 1) {
        &.lock {
            height: 100vh;
            overflow: hidden;
        }
    }
}

body {



    .container {
        @include container(100%);
        text-align:left;
        vertical-align:top;
        padding:0 15px;

        @media (min-width: $screen-size-pc) {
            @include container($screen-size-pc);
            padding: 0;
        }
    }



    header {
        border-bottom:1px solid #C8C8C8;
        text-align:center;
        display:inline-block;
        width:100%;
        height:60px;

            h1 {
                display:block;
                margin:14px auto 0;
                font-size:0;
                width:158px;
                height:30px;
                background:url(../images/logo.png) no-repeat center / 100% auto;
            }

            button {
                position:absolute;
                right:15px;
                top:10px;
                width:85px;
                height:38px;
                border:none;
                background:#5A5A5A;
                font-size:16px;
                color:#fff;
            }

    }


    div#content {
        display:inline-block;
        width:100%;
        min-width:100%;
        background:#333333;
        color:#fff;
        text-align:center;


        &>img {
            display:block;
            margin:40px auto 30px;
            width:202px;
            height:auto;
            @include drop-shadow($x:0,$y: 16px, $blur: 21px, $spread: 0, $alpha: 0.6);
        }


        h2 {
            font-size:26px;
            font-weight:600;

            small {
                display:block;
                margin:6px;
                font-weight:400;
                font-size:16px;
                color:#898989;
            }
        }

        p.num {
            margin:20px 0 0;
            color:#00A2E5;
            font-size:20px;
            font-weight:500;
        }

        p.info {
            margin:6px 0 0;

            span {
                display:inline-block;
                vertical-align:top;
                font-size:16px;
                padding:0 5px 0;
                white-space:nowrap;
                word-break:keep-all;
                min-width:126px;
            }
        }

        p.seat {
            font-size:20px;
            font-weight:800;
            color:#FFC954;
            margin:10px 0 20px;
        }
        p.barcode {
            background:#fff;
            margin:0;
            padding:20px;

            img {
                width:100%;
            }
        }

        div.information {
            background:#222;
            padding:20px 5px;
            word-break:keep-all;
            color:#B5B5B5;
            font-size:13px;

            p {
                margin:0 0 6px;
            }
        }

    }











}
